.HomeDiv {
     height: 100vh;
     font-family: 'Poppins', sans-serif;
}

.childDiv {
     position: relative;
     z-index: 1 !important;
     color: white;
}

.nameHead {
     font-size: 6.7rem;
     font-weight: 700;
}

.roleHead {
     font-size: 1.45rem;
     font-family: 'Roboto mono' !important;
     font-weight: 400;
}

.backImg {
     position: absolute;
     z-index: 0 !important;
     background-image: url('../../../public/tamalsen-home-cover.jpg');
     height: 100vh;
     width: 100vw;
     background-size: cover;
     background-position: center center;
}

@media (max-width: 900px) {
     .HomeDiv {
          height: 100vh;
     }

     .nameHead {
          font-size: 3rem;
          margin: 0rem 1rem;
          font-weight: 600;
     }

     .roleHead {
          font-size: 1.3rem;
          margin: 0rem 2rem;
     }
}