/* eslint-disable react/jsx-no-comment-textnodes */
.navbar {
     font-family: 'Roboto mono' !important;
     background: none !important;
}

.navBrand {
     font-weight: 700;
     font-size: 1.4rem;
     color: #4BD0E5;
     left: 0;
     padding-left: 1rem;
}

.navBrand:hover {
     color: #4BD0E5;
}

.navLink {
     /* padding: 0rem .8rem !important; */
     margin: 1.75rem .6rem;
     font-size: 1.02rem;
     font-weight: 400;
     color: #F9F9F9;
     transition: opacity 0.4s ease;
}

.navLinks:hover .navLink {
     opacity: 0.45;
}

.navLinks .navLink:hover {
     color: #F9F9F9 !important;
     opacity: 1;
}


.navbar-toggler {
     border: none;
}

.navbar-toggler-icon {
     color: white;
}

.navbar-toggler:focus {
     box-shadow: none !important;
}

@media (max-width: 900px) {
     .navBrand {
          font-size: 2.6vh;
          margin-top: 4rem !important;
     }
}